{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h2 class="mt-5 container text-center"><b>Happie Pics</b></h2>
<hr>
<br>
<div class="row">
    <div class="col-md-1 col-sm-1 col-1 d-flex d-md-flex justify-content-center">
        <a class="prev">&lt;</a>
    </div>
    <div class="col-md-10 col-sm-10 col-10 large-img text-center polar" id="main-viewer" style="background-color:#0000;">
        <img src="{{ pics.first.pic.url }}" id="big-img" class="img-fluid">
        <p id="pic-title">{{ pics.first.pictitle }}</p>
    </div>
    <div class="col-md-1 col-sm-1 col-1 d-flex d-md-flex justify-content-center">
        <a class="next">&gt;</a>
    </div>

</div>


<div class="row" >
    {% for pic in pics %}
    <div class="col-md-2 col-3 polar">
        <img id="image{{ pic.id }}" data-id = {{ pics.count }} src="{{ pic.pic.url }}" class="img-fluid mb-2 img-thumbnail crop-img" name="{{ pic.pictitle }}">
    </div>
    {% endfor %}
</div>




{% endblock %}
